@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Manrope:wght@200..800&display=swap");

@theme {
  /*COLORS -----------------------------------------------------------------------------------------------*/

  /* Backgrounds */
  --color-ivory: #faf8f3;
  --color-linen: #f4f0e8;
  --color-sand: #ece6db;
  --color-surface: #fffcf8;

  /* Olive */
  --color-olive-100: #b9c2a5;
  --color-olive-300: #98a884;
  --color-olive-500: #7a8b68;
  --color-olive-700: #667553;
  --color-olive-900: #4b5640;

  /* Rose */
  --color-rose-100: #f1ddd8;
  --color-rose-300: #e9c9c5;
  --color-rose-500: #d6a09a;
  --color-rose-700: #bc7f79;
  --color-rose-900: #965d57;

  /* Gold */
  --color-gold-300: #d8c08a;
  --color-gold-500: #c7a86d;
  --color-gold-700: #a9854f;

  /* Text */
  --color-heading: #2f2d29;
  --color-body: #5e5a53;
  --color-muted: #8e887f;

  /* Borders */
  --color-border: #ddd6cc;

  /*TYPOGRAPHY ------------------------------------------------------------------------------------------------*/

  --font-heading: "DM Serif Display", serif;
  --font-body: "Manrope", sans-serif;

  /*BORDER RAD. ----------------------------------------------------------------------------------------------*/

  --radius-sm: 10px;
  --radius-md: 16px;
  --radius-lg: 24px;
  --radius-xl: 32px;

  /*SHADOWS --------------------------------------------------------------------------------------------------*/
  --shadow-soft: 0 8px 24px rgba(47, 45, 41, 0.08);
  --shadow-medium: 0 18px 40px rgba(47, 45, 41, 0.1);
  --shadow-large: 0 28px 70px rgba(47, 45, 41, 0.12);
}

/*Globals -----------------------------------------------------------------------------------------------------*/

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-ivory);
  color: var(--color-body);
  font-family: var(--font-body);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--color-heading);

  line-height: 1.1;
  letter-spacing: -0.03em;
}

p {
  line-height: 1.7;
}
